*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
}

.container {
    width: 1280px;
}

.menu {
    margin: 25px 330px;
}

.menu-list {
    display: flex;
    justify-content: space-between; 
    font-weight: 750;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;            
}

.menu-link {
    text-decoration: none;
    color: #FF0000;
}

.main-image {
    display: block;
}

.content-title {
    margin: 48px 253px 38px;       
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.first-content-text {
    text-align: center;
    margin: 38px 67.5px 28px;
}

.second-content-text {
    text-align: center;
    margin: 28px 67.5px 66px;
}

.link-wrapper {
    display: block;
    text-align: center;
}

.link-like-button {
    display: inline-block;
    vertical-align: middle;
    background-color: red;
    color: #FFFFFF;
    width: 191px;
    padding-top: 19.5px;   
    padding-bottom: 19.5px;
    border-radius: 4px;
    text-decoration: none;

    font-weight: 550;
    font-size: 12px;
    line-height: 12px;      
    letter-spacing: 1.8px;
    text-transform: uppercase;    
}

.footer-content {
    margin: 82px 105px 29px;
    text-align: right;
    color: #373737;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.4px;
}